# Directories
__pycache__/
data/
legacy/
.spyproject/

# File extensions
out*/*.h5    # chains
out*/*.npy   # partial results
out*/*.npz   # partial results
out*/*.mcm   # mode coupling matrices
out*/*.cmcm  # cmcm's
